<%- include("../partials/header") %>
    <br>
    <div style="background-color: black; color: aliceblue;" class="jumbotron">
        <div class="container">
            <form style="border: thin whitesmoke solid; margin: 20px;padding: 20px;"
                action="/campgrounds/<%=campground._id%>/comments" method="POST">
                <h1>Add New Comment to <%=campground.name%>
                </h1>
                <div class="form-group">
                    <label for="inlineFormInputGroup">Comment</label>
                    <input class="form-control" type="text" name="comment[text]" id="inlineFormInputGroup"
                        placeholder="Text">
                </div>
                <button type="submit" class="btn btn-primary">Submit!</button>
            </form>
            <a href="/campgrounds">Go back</a>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
<%- include("../partials/footer") %>