
<%- include("partials/header") %>
<!-- <a href="/campgrounds">View all campgrounds!!</a> -->
<div id="demo" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="image gg/indore9.jpg" alt="Indore" width="1100" height="500">
            <div class="carousel-caption">
                <h3>Rajwada</h3>
                <p>Fort of brave Ahilya bai</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="image gg/IMG_20200308_223756-1024x576.jpg" alt="Indore" width="1100" height="500">
            <div class="carousel-caption">
                <h3>Chappan</h3>
                <p>Yummy street foods</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src=https://i.pinimg.com/originals/76/eb/a9/76eba9aaa7efe1ed154838f81c5c1d2e.jpg alt="Indore"
                width="1100" height="500">
            <div class="carousel-caption">
                <h3>Indore</h3>
                <p>The heart of M.P.</p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>

<section class="my-5" id="CityTour">
    <div class="py-5">
        <h2 class="text-center">
            City Tour
        </h2>
        <p id="city" style="font-size:20px;color:whitesmoke">
            Indore one of the best city I have visited to.You will experience everything here from fashion to
            leisure.If you are visiting this city don't forget to carry antacids as it has variety of food that
            you may end up with overeating.
        </p>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-12">
                <div class="card">
                    <img class="card-img-top" src="image gg/temple.jpg" alt="Card image" width="250" height="350">
                    <div class="card-body">
                        <h4 class="card-title" id="cm">Religious :</h4>
                        <p class="card-text" id="cm">Worship brings our bright
                            side </p>
                        <a href="/campgrounds" class="btn btn-primary">visit</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12">
                <div class="card">
                    <img class="card-img-top"
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRh5W3EDmh3U56e03YHVQ0RsxUdS-xJD0U0Vg&usqp=CAU"
                        alt="Card image" width="250" height="350">
                    <div class="card-body">
                        <h4 class="card-title" id="cm">Historical :</h4>
                        <p class="card-text" id="cm">Heritage is our pride</p>
                        <a href="/campgrounds" class="btn btn-primary">visit</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12">
                <div class="card">
                    <img class="card-img-top"
                        src=https://img.traveltriangle.com/blog/wp-content/uploads/2020/02/og-for-Waterfalls-Near-Indore_17th-Feb.jpg
                        alt="Card image" width="250" height="350">
                    <div class="card-body">
                        <h4 class="card-title" id="cm">Nature :</h4>
                        <p class="card-text" id="cm">Its a way to relax from usual days</p>
                        <a href="/campgrounds" class="btn btn-primary">visit</a>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-12">
                <div class="card">
                    <img class="card-img-top" src="image gg/c21.jpg" alt="Card image" width="250" height="350">
                    <div class="card-body">
                        <h4 class="card-title" id="cm">Movie Theater :</h4>
                        <p class="card-text" id="cm">Experience some emotions. </p>
                        <a href="/campgrounds" class="btn btn-primary">visit</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12">
                <div class="card">
                    <img class="card-img-top" src="image gg/unnamed.jpg" alt="Card image" width="250" height="350">
                    <div class="card-body">
                        <h4 class="card-title" id="cm">Food :</h4>
                        <p class="card-text" id="cm">Food is real fun when you are in Indore.</p>
                        <a href="/campgrounds" class="btn btn-primary">visit</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12">
                <div class="card">
                    <img class="card-img-top"
                        src=https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRHxMZcRxmaQby-MidCPrUUwvX3F20VEgiZKQ&usqp=CAU
                        alt="Card image" width="250" height="350">
                    <div class="card-body">
                        <h4 class="card-title" id="cm">Fun in indore:</h4>
                        <p class="card-text" id="cm">Elate yorself in Indore.</p>
                        <a href="/campgrounds" class="btn btn-primary">visit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <section class="my-5" id="review">
    <div class="py-5">
        <a href="review.html" class="btn btn-primary btn-lg btn-block">Reviews</a>
    </div>
</section> -->
<section class="my-5" id="about">
    <div class="py-5">
        <h2 class="text-center">
            About Us
        </h2>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
                <img src="image gg/localities.jpg" class="img-fluid aboutimg">
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <h4 class="display-4">We are the localites</h4>
                <p class="py-0">
                    This site is one of our dream to show you guys one of the dream city of india.
                    We love our city so we wanted you to know the beautiful places of indore. Since it is
                    cleanest city of india so many people come to visit and learn about the garbage system
                    management of indore.
                    Our site will give you an insight about the city and the most popular and beautiful places.
                </p>
                <a href="homepage.html" class="btn btn-success">Want to know more</a>
            </div>
        </div>
    </div>

</section>
<%- include("partials/footer") %>
