<%- include("partials/header") %>
    <br>
    <div style="background-color: black;" class="jumbotron">
    <div class="container">
        <form class="border-class" action="/login" method="POST">
            <h1>Login!</h1>
            <div class="form-group">
                <label for="inlineFormInputGroup">Username</label>
                <input type="text" name="username" class="form-control" id="inlineFormInputGroup" placeholder="Username">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" name="password" class="form-control" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn btn-primary">Login!</button>
        </form>
    </div>
    </div>
    <br>
      <br>
      <br>
      <br>
    <%- include("partials/footer") %>